<!DOCTYPE html>
<html>
<head>
<title>Il meteo</title>
</head>
<body>
<div style="background-color: green; padding: 10px; color: white">
	<h1>Benvenuto nella pagina del meteo</h1>
	Uno dei siti piu' autorevoli del web
</div>
<div style="display: flex; flex-direction: row">
	<div style="background-color: lightyellow; padding: 10px">
		<h3>Menu'</h3>
		<ol>
			<li><a href="{{url_for('index')}}">Home</a></li>
			<li><a href="{{url_for('authors')}}">Autori</a></li>
			<li><a href="http://www.alumniscuolagalileiana.it">Sito Alumni Scuola Galileiana</a></li>
		</ol>
	</div>
	<div style="padding: 10px;">
		<h3>Scegli le citta' da visualizzare</h3>
		<form action="{{url_for('index')}}">
			<input type="hidden" name="filter" value="on">
			{{form_content}}
			<input type="submit" value="Applica">
		</form>
		<h3>Grafico temperatura</h3>
		<div width="600" id="chart">
    		<!-- questo container e' gestito dal codice javascript -->
		</div>
		<h3>Rilevazioni temperatura</h3>
		<div style="height: 400px; width: 600px; overflow: auto;">
			<table>
				<tr><th>Ora</th><th>Citta'</th><th>Temperatura (°C)</th></tr>
				{{table_content}}
			</table>
		</div>
	</div>
</div>
<!-- carica la libreria poltly -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script  type="text/javascript" defer>
var data = [
    {x: [1,2,3,4], y: [1, 4, 9, 16], mode: "lines", name: "pasta"},
    {x: [1,2,3,4], y: [1, 2, 3, 4], mode: "lines", name: "pizza"},];
var layout = {title: "grafico interessantissimo"};
Plotly.plot("chart", data, layout);
</script>
</body>
</html>