<!DOCTYPE html>
<html>
<head>
<title>Il meteo</title>
</head>
<body>
<div style="background-color: green; padding: 10px; color: white">
	<h1>Benvenuto nella pagina del meteo</h1>
	Uno dei siti piu' autorevoli del web
</div>
<div style="display: flex; flex-direction: row">
	<div style="background-color: lightyellow; padding: 10px">
		<h3>Menu'</h3>
		<ol>
			<li><a href="{{url_for('index')}}">Home</a></li>
			<li><a href="{{url_for('authors')}}">Autori</a></li>
			<li><a href="http://www.alumniscuolagalileiana.it">Sito Alumni Scuola Galileiana</a></li>
		</ol>
	</div>
	<div style="padding: 10px;">
		<h3>Rilevazioni temperatura</h3>
		<div style="height: 400px; width: 400px; overflow: auto;">
			<table>
				<tr><th>Ora</th><th>Citta'</th><th>Temperatura (°C)</th></tr>
				{{table_content}}
			</table>
		</div>
	</div>
</div>
</body>
</html>